* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

header {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #fff;
}
@media only screen and (max-width: 375px) {
  header {
    align-items: center;
  }
}
header #hamburger {
  display: none;
}
@media only screen and (max-width: 375px) {
  header #hamburger {
    display: block;
    width: 24px;
  }
}
header #fond {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
}
@media only screen and (max-width: 375px) {
  header #fond {
    -o-object-fit: cover;
       object-fit: cover;
  }
}
header nav {
  display: flex;
  justify-content: space-between;
  margin: 44px;
}
@media only screen and (max-width: 375px) {
  header nav {
    width: 75%;
  }
}
header nav ul {
  display: flex;
}
@media only screen and (max-width: 375px) {
  header nav ul {
    display: none;
  }
}
header nav ul li {
  list-style-type: none;
  padding: 20px;
  font-size: 18px;
  font-family: "Fraunces", serif;
  font-weight: 600;
  cursor: pointer;
}
header nav ul #contact {
  display: block;
  background-color: #fff;
  border-radius: 56px;
  color: #24303E;
  padding: auto 16px;
}
header nav ul #contact:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: #FFFFFF;
}
header #arrow {
  height: 107.48px;
  width: 30px;
  margin: 100px auto 0;
}
@media only screen and (max-width: 375px) {
  header #arrow {
    margin: 50% auto 0;
  }
}
header h1 {
  margin: 0 auto;
  font-size: 56px;
  font-family: "Fraunces", serif;
  font-weight: 900;
  letter-spacing: 8.75px;
}
@media only screen and (max-width: 375px) {
  header h1 {
    font-size: 40px;
    width: 75%;
    text-align: center;
  }
}
header #logo {
  width: 170px;
  height: auto;
}
@media only screen and (max-width: 375px) {
  header #logo {
    height: 24px;
    width: auto;
  }
}

main {
  width: 100%;
}
main #firstContainer {
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 375px) {
  main #firstContainer {
    flex-direction: column-reverse;
  }
}
main #firstContainer img {
  width: 50%;
  height: auto;
}
@media only screen and (max-width: 375px) {
  main #firstContainer img {
    width: 100%;
  }
}
main #firstContainer aside {
  margin: auto;
  width: 445px;
}
@media only screen and (max-width: 375px) {
  main #firstContainer aside {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
main #firstContainer aside h2 {
  font-family: Fraunces 9pt Soft;
  font-size: 40px;
  font-weight: 900;
  line-height: 49.32px;
  letter-spacing: -0.2857142985px;
  text-align: left;
  color: #24303E;
}
@media only screen and (max-width: 375px) {
  main #firstContainer aside h2 {
    text-align: center;
    font-size: 32px;
    margin-top: 20px;
  }
}
main #firstContainer aside p {
  font-family: Barlow;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.1285714358px;
  text-align: left;
  color: #808397;
  padding: 20px 0;
}
@media only screen and (max-width: 375px) {
  main #firstContainer aside p {
    font-size: 18px;
    text-align: center;
  }
}
main #firstContainer aside p a {
  font-family: Fraunces 9pt Soft;
  font-size: 15px;
  font-weight: 900;
  line-height: 25px;
  letter-spacing: 1px;
  text-align: left;
  text-decoration: none;
  color: #24303E;
  display: inline-block;
}
@media only screen and (max-width: 375px) {
  main #firstContainer aside p a {
    font-size: 15px;
    margin-bottom: 20px;
  }
}
main #firstContainer aside p a:after {
  content: " ";
  display: block;
  margin: -10px 0;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #FAD400;
  opacity: 0.2;
}
main #firstContainer aside p a:hover::after {
  content: " ";
  display: block;
  margin: -10px 0;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background-color: #FAD400;
  opacity: 1;
}
main #secondContainer {
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 375px) {
  main #secondContainer {
    flex-direction: column;
  }
}
main #secondContainer img {
  width: 50%;
  height: auto;
}
@media only screen and (max-width: 375px) {
  main #secondContainer img {
    width: 100%;
  }
}
main #secondContainer aside {
  margin: auto;
  width: 445px;
}
@media only screen and (max-width: 375px) {
  main #secondContainer aside {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
main #secondContainer aside h2 {
  font-family: Fraunces 9pt Soft;
  font-size: 40px;
  font-weight: 900;
  line-height: 49.32px;
  letter-spacing: -0.2857142985px;
  text-align: left;
  color: #24303E;
}
@media only screen and (max-width: 375px) {
  main #secondContainer aside h2 {
    text-align: center;
    font-size: 32px;
    margin-top: 20px;
  }
}
main #secondContainer aside p {
  font-family: Barlow;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.1285714358px;
  text-align: left;
  color: #808397;
  padding: 20px 0;
}
@media only screen and (max-width: 375px) {
  main #secondContainer aside p {
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
  }
}
main #secondContainer aside p a {
  font-family: Fraunces 9pt Soft;
  font-size: 15px;
  font-weight: 900;
  line-height: 25px;
  letter-spacing: 1px;
  text-align: left;
  text-decoration: none;
  color: #24303E;
  display: inline-block;
}
@media only screen and (max-width: 375px) {
  main #secondContainer aside p a {
    font-size: 15px;
  }
}
main #secondContainer aside p a:after {
  content: " ";
  display: block;
  margin: -10px 0;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #FE7766;
  opacity: 0.2;
}
main #secondContainer aside p a:hover::after {
  content: " ";
  display: block;
  margin: -10px 0;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background-color: #FE7766;
  opacity: 1;
}
main #thirdContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
}
@media only screen and (max-width: 375px) {
  main #thirdContainer {
    flex-direction: column;
  }
}
main #thirdContainer .text {
  padding-bottom: 30px;
  position: absolute;
}
main #thirdContainer img {
  width: 100%;
}
main #thirdContainer #cherry {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
@media only screen and (max-width: 375px) {
  main #thirdContainer #cherry {
    width: 100%;
    margin-top: 40px;
  }
}
main #thirdContainer #cherry h2 {
  font-family: Fraunces 9pt Soft;
  font-size: 28px;
  font-weight: 900;
  line-height: 34.52px;
  letter-spacing: -0.200000003px;
  text-align: center;
  color: #24554A;
}
main #thirdContainer #cherry p {
  font-family: Barlow;
  font-size: 16px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: -0.1142857149px;
  text-align: center;
  width: 50%;
  margin: 20px auto;
  color: #3E7467;
}
main #thirdContainer #orange {
  width: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
@media only screen and (max-width: 375px) {
  main #thirdContainer #orange {
    width: 100%;
  }
}
main #thirdContainer #orange h2 {
  font-family: Fraunces 9pt Soft;
  font-size: 28px;
  font-weight: 900;
  line-height: 34.52px;
  letter-spacing: -0.200000003px;
  text-align: center;
  color: #052C3B;
}
main #thirdContainer #orange p {
  font-family: Barlow;
  font-size: 16px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: -0.1142857149px;
  text-align: center;
  width: 50%;
  margin: 20px auto;
  color: #19536C;
}
main #fourContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #FFFCF8;
}
main #fourContainer h2 {
  font-family: Fraunces 9pt Soft;
  font-size: 20px;
  font-weight: 900;
  line-height: 24.66px;
  letter-spacing: 5px;
  text-align: center;
  color: #A7AAAD;
  margin: 100px;
}
@media only screen and (max-width: 375px) {
  main #fourContainer h2 {
    font-size: 16px;
  }
}
main #fourContainer p {
  font-family: Barlow;
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.1285714358px;
  text-align: center;
  color: #5B636D;
  margin: 20px;
}
@media only screen and (max-width: 375px) {
  main #fourContainer p {
    font-size: 18px;
  }
}
main #fourContainer .name {
  font-family: Fraunces 9pt Soft;
  font-size: 18px;
  font-weight: 900;
  line-height: 22.19px;
  letter-spacing: -0.1285714358px;
  text-align: center;
  color: #24303E;
  margin-bottom: -20px;
}
@media only screen and (max-width: 375px) {
  main #fourContainer .name {
    font-size: 18px;
  }
}
main #fourContainer .job {
  font-family: Barlow;
  font-size: 14px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: -0.1000000015px;
  text-align: center;
  color: #A7AAAD;
  margin-bottom: 100px;
}
@media only screen and (max-width: 375px) {
  main #fourContainer .job {
    font-size: 14px;
  }
}
main #fourContainer img {
  width: 72px;
  height: 72px;
  border-radius: 72px;
  margin: 50px;
}
@media only screen and (max-width: 375px) {
  main #fourContainer img {
    width: 72px;
    margin: 20px;
  }
}
main #fourContainer #testimonials {
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 375px) {
  main #fourContainer #testimonials {
    flex-direction: column;
  }
}
main #fourContainer #testimonials #emily {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
main #fourContainer #testimonials #thomas {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
main #fourContainer #testimonials #jennie {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-width: 375px) {
  main #fifthContainer {
    display: flex;
    flex-wrap: wrap;
  }
}
main #fifthContainer img {
  width: 25%;
  height: auto;
  margin: -2px;
}
@media only screen and (max-width: 375px) {
  main #fifthContainer img {
    width: 50%;
    margin: 0;
  }
}

footer {
  margin-top: -2px;
  padding: 72px;
  background-color: #90D4C6;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer ul {
  list-style-type: none;
  display: flex;
}
footer ul li {
  margin: 30px;
  cursor: pointer;
  font-family: Barlow;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: -0.1285714358px;
  text-align: left;
  color: #458D7E;
}
footer ul li:hover {
  color: #fff;
}
footer svg {
  margin: 20px;
}
@media only screen and (max-width: 375px) {
  footer svg {
    width: 20px;
  }
}
footer svg:hover path {
  fill: #fff;
}
footer #icone {
  display: flex;
}/*# sourceMappingURL=style.css.map */