*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

//Primary

$softRed : hsl(7, 99%,70%);
$yellow : hsl(51, 100%, 49%);
$darkDesaturatedCyan : hsl(167, 40%, 24%);
$darkBlue : hsl(198, 62%, 26%);
$darkModerateCyan : hsl(168, 34%, 41%);

//Neutral

$darkDesaturatedBlue : hsl(212, 27%, 19%);
$veryDarkGrayishBlue : hsl(213, 9%, 39%);
$darkGrayishBlue : hsl(232, 10%, 55%);
$grayishBlue : hsl(210, 4%, 67%);
$white : hsl(0, 0%, 100%);

//Typo

$fontSize : 18px;
$fontWeightBarlow : 600;
$fontWeightFrauncesLight : 700;
$fontWeightFrauncesBold : 900;
$fontFraunce : "Fraunces", serif;
$fontBarlow : "Barlow", sans-serif;

@mixin flexCenter {
    display: flex;
    justify-content: center;
    
}

@mixin fontParagraphe{
    font-family: Barlow;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.12857143580913544px;
    text-align: left;
    color: #808397;
}

@mixin fontH2{
    font-family: Fraunces 9pt Soft;
    font-size: 40px;
    font-weight: 900;
    line-height: 49.32px;
    letter-spacing: -0.2857142984867096px;
    text-align: left;
    color:#24303E;
}

@mixin fontLink{
    font-family: Fraunces 9pt Soft;
    font-size: 15px;
    font-weight: 900;
    line-height: 25px;
    letter-spacing: 1px;
    text-align: left;
    text-decoration: none;
    color:#24303E
}

@mixin underLink{
    content: " ";
    display: block;
    margin: -10px 0;
    width: 100%;
    height: 10px;
    border-radius: 5px;
}

@mixin fontH2bis{
    font-family: Fraunces 9pt Soft;
    font-size: 28px;
    font-weight: 900;
    line-height: 34.52px;
    letter-spacing: -0.20000000298023224px;
    text-align: center;
}

@mixin fontParagrapheBis{
    font-family: Barlow;
    font-size: 16px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: -0.11428571492433548px;
    text-align: center;
    width: 50%;
    margin: 20px auto;
}

@mixin oval{
    width: 72px;
    height: 72px;
    border-radius: 72px;
}

@mixin pTestimonial{
    font-family: Barlow;
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.12857143580913544px;
    text-align: center;
    color: #5B636D;
}

@mixin h2Testimonial{
    font-family: Fraunces 9pt Soft;
    font-size: 20px;
    font-weight: 900;
    line-height: 24.66px;
    letter-spacing: 5px;
    text-align: center;
    color:#A7AAAD;
}

@mixin fontName{
    font-family: Fraunces 9pt Soft;
    font-size: 18px;
    font-weight: 900;
    line-height: 22.19px;
    letter-spacing: -0.12857143580913544px;
    text-align: center;
    color:#24303E;
}

@mixin fontJob{
    font-family: Barlow;
font-size: 14px;
font-weight: 600;
line-height: 25px;
letter-spacing: -0.10000000149011612px;
text-align: center;
color:#A7AAAD;
}

@mixin fontFooter{
    font-family: Barlow;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: -0.12857143580913544px;
    text-align: left;
    color:#458D7E;
}

$mobile: 375px;
@mixin mobile {
    @media only screen and (max-width: $mobile) {
      @content;
    }
  }

  header{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #fff;
    @include mobile{
        align-items: center;
    }
    #hamburger{
        display: none;
        @include mobile{
            display: block;
            width: 24px;
        }
    }
    #fond{
        width: 100%;
        height: 100%;
        z-index: -1;
        position: absolute;
        @include mobile{
            object-fit: cover;
        }
    }
    nav{
        display: flex;
        justify-content: space-between;
        margin:44px;
        @include mobile{
            width: 75%;
        }
        ul{
            display: flex;
            @include mobile{
                display: none;
            }
            li{
                list-style-type: none;
                padding: 20px;
                font-size: 18px;
                font-family: $fontFraunce;
                font-weight: $fontWeightBarlow;
                cursor: pointer;
            }
            #contact{
                display: block;
                background-color: #fff;
                border-radius: 56px;
                color: #24303E;
                padding: auto 16px;
                &:hover{
                    background-color: rgba(255,255,255,0.3);
                    color: #FFFFFF;
                }
            }
        }
    }
    #arrow{
        height: 107.48px;
        width: 30px;
        margin: 100px auto 0;
        @include mobile{
            margin: 50% auto 0;
        }
    }
    h1{
        margin: 0 auto;
        font-size: 56px;
        font-family: $fontFraunce;
        font-weight: $fontWeightFrauncesBold;
        letter-spacing: 8.75px;
        @include mobile{
            font-size: 40px;
            width: 75%;
            text-align: center;
        }
    }
    #logo{
        width: 170px;
        height: auto;
        @include mobile{
            height: 24px;
            width: auto;
        }
    }
}

main{
    width: 100%;
    #firstContainer{
        @include flexCenter;
        @include mobile{
            flex-direction: column-reverse;
        }
        img{
            width: 50%;
            height: auto;
            @include mobile{
                width: 100%;
            }
        }
        aside{
            margin: auto;
            width: 445px;
            @include mobile{
                width: 75%;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            h2{
                @include fontH2;
                @include mobile{
                    text-align: center;
                    font-size: 32px;
                    margin-top: 20px;
                }

            }
            p{
                @include fontParagraphe;
                padding: 20px 0;
                @include mobile{
                    font-size: 18px;
                    text-align: center;
                }
                a{
                  @include fontLink;
                  display: inline-block;
                  @include mobile{
                    font-size: 15px;
                    margin-bottom: 20px;
                  } 
                }
                a:after{
                    @include underLink;
                    background: #FAD400;
                    opacity: 0.2;
                }
                a:hover::after{
                        @include underLink;
                        background-color: #FAD400;
                        opacity: 1;
                }
            }
        }

    }

    #secondContainer{
        @include flexCenter;
        @include mobile{
            flex-direction: column;
        }
        img{
            width: 50%;
            height: auto;
            @include mobile{
                width: 100%;
            }
        }
        aside{
            margin: auto;
            width: 445px;
            @include mobile{
                width: 75%;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            h2{
                @include fontH2;
                @include mobile{
                    text-align: center;
                    font-size: 32px;
                    margin-top: 20px;
                }
            }
            p{
                @include fontParagraphe;
                padding: 20px 0;
                @include mobile{
                    font-size: 18px;
                    text-align: center;
                    margin-top: 20px;
                }
                a{
                  @include fontLink;
                  display: inline-block; 
                  @include mobile{
                    font-size: 15px;
                  }
                }
                a:after{
                    @include underLink;
                    background: #FE7766;
                    opacity: 0.2;
                }
                a:hover::after{
                    @include underLink;
                    background-color: #FE7766;
                    opacity: 1;
            }
            }
        }
    }

    #thirdContainer{
        @include flexCenter;
        align-items: center;
        width: 100%;
        height: 600px;
        @include mobile{
            flex-direction: column;
        }
        .text{
            padding-bottom: 30px;
            position: absolute;
        }
        img{
            width: 100%;
            @include mobile{
                
            }
        }
        #cherry{
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            @include mobile{
                width: 100%;
                margin-top: 40px;
            }
            
            h2{
                @include fontH2bis;
                color:#24554A;
            }
            p{
                @include fontParagrapheBis;
                color: #3E7467;
            }
        }
        
        #orange{
            width: 50%;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            @include mobile{
                width: 100%;
            }
            h2{
                @include fontH2bis;
                color: #052C3B;
            }
            p{
                @include fontParagrapheBis;
                color: #19536C;
            }
        }
    }

    #fourContainer{
        @include flexCenter;
        flex-direction: column;
        align-items: center;
        background-color: #FFFCF8 ;
        h2{
            @include h2Testimonial;
            margin: 100px;
            @include mobile{
                font-size: 16px;
            }
        }
        p{
            @include pTestimonial;
            margin: 20px;
            @include mobile{
                font-size: 18px;
            }
        }
        .name{
            @include fontName;
            margin-bottom: -20px;
            @include mobile{
                font-size: 18px;
            }
        }
        .job{
            @include fontJob;
            margin-bottom: 100px;
            @include mobile{
                font-size: 14px;
            }
        }
        img{
            @include oval;
            margin: 50px;
            @include mobile{
                width: 72px;
                margin: 20px;
            }
        }
        #testimonials{
            @include flexCenter;
            @include mobile{
                flex-direction: column
            }
            #emily{
                @include flexCenter;
                flex-direction: column;
                align-items: center;
                
            }
            #thomas{
                @include flexCenter;
                flex-direction: column;
                align-items: center;
            }
            #jennie{
                @include flexCenter;
                flex-direction: column;
                align-items: center;
            }
        }

    }

    #fifthContainer{
        @include mobile{
            display: flex;
            flex-wrap: wrap;
        }
        img{
            width: 25%;
            height: auto;
            margin: -2px;
            @include mobile{
                width: 50%;
                margin: 0;
            }
        }
    }
}

footer{
    margin-top: -2px;
    padding: 72px;
    background-color: #90D4C6;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    ul{
        list-style-type: none;
        display: flex;
        li{
            margin: 30px;
            cursor: pointer;
            @include fontFooter
        }
        li:hover{
            color:#fff;
        }
    }
   svg{
        margin: 20px;
        @include mobile{
            width: 20px;
        }
        &:hover{
            path{
                fill: #fff;
            }
        }
   }
   #icone{
    display: flex;
   }
}